* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
h1{
  color:#ff0062;
  margin-top:2rem;
  margin-bottom:0rem;
  margin-left:32rem;
}
label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
  border-color: #a80041;
}

.projects {
  width:50%;
  margin: 2rem;
  border: 1px solid #ff0062;
  margin-left:20rem;
}


.projects header {
  background: #ff0062;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width:90%;
  margin-left:2.5rem;
  margin-top:.5rem;
}

#finished-projects {
  border-color: #0044ff;
  width:50%;
  margin-left:20rem;
  margin-top:.5rem;
  /* margin:1rem; */
}

#finished-projects header {
  background: #0044ff;
  margin-left:2.5rem;
  width:90%;
  padding: 1rem;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  width:100%;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  background: white;
}

.projects li h2 {
  color: #ff0062;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #0044ff;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}
.project li p {
  margin: 0;
}
.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  width:50%;
  margin: 2rem;
  padding: 1rem;
  margin-left:20rem;
  border: 1px solid #ff0062;
  background: #f7f7f7;
}
@media only screen and (max-width: 900px) {
  .projects {
    margin-left:12rem;
  }
  .projects header {
    width:80%;
    /* margin-left:2.5rem; */
  }
  #finished-projects {
    border-color: #0044ff;
    width:50%;
    margin-left:12rem;
    margin-top:.5rem;
  }
  #finished-projects header {
    background: #0044ff;
    width:80%;
    padding: 1rem;
  }
  #user-input {
    width:50%;
    margin: 3rem;
    padding: 1rem;
    margin-left:12rem;
    border: 1px solid #ff0062;
    background: #f7f7f7;
  }
  h1{
    color:#ff0062;
    margin-top:2rem;
    margin-bottom:0rem;
    margin-left:14rem;
  }
  

}
@media only screen and (max-width: 600px) {
  .projects {
    margin-left:4rem;
    width:80%;
    margin-left:3rem;
  }
  .projects header {
    width:80%;
  }
  #finished-projects {
    border-color: #0044ff;
    width:80%;
    margin-left:3rem;
    margin-top:.5rem;
  }
  #finished-projects header {
    background: #0044ff;
    width:80%;
    padding: 1rem;
    margin-left:2.5rem;
  }
  #user-input {
    width:80%;
    margin: 3rem;
    padding: 1rem;
    margin-left:3rem;
    border: 1px solid #ff0062;
    background: #f7f7f7;
  }
  h1{
    color:#ff0062;
    margin-top:2rem;
    margin-bottom:0rem;
    margin-left:5rem;
  }
  
}